/*
* This is the Main CSS file for the Task2App.
* ================================================================================================
*/
@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  }
  
body {
    margin: 0;
    padding: 0;
    font-family: 'Product Sans' /*, "Open Sans", sans-serif*/;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    line-height: 30px;
    color: #4f4f4f;
    background-color: #fff;
    background-image: url(../images/vector-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    position: "relative";
}

h2.heading {
    font-family: Product Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 67px;
    color: #4E598C;
}

h3.heading {
    font-family: 'Product Sans' /*, "Open Sans", sans-serif*/;
    font-size: 36px;
    font-weight: 700;
    font-style: normal;
    line-height: 50px;
    color: #4e598c;
}
h5.sub-heading {
    font-family: 'Product Sans' /*, "Open Sans", sans-serif*/;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    line-height: 34px;
}
h5.sub-heading-o {
    color: #f2994a;
}
h5.sub-heading-g {
    color: #bdbdbd;
}
.line-o {
    background: #f2994a;
    height: 13px;
    border-radius: 10px; 
}
.line-b {
    border: 1px solid #000;
}
.label {
    font-size: 20px;
    line-height: 30px;
}
.label-small {
    font-size: 16px;
    line-height: 24px;
    color: #817e9e;
}
.t-action {
    font-size: 20px;
    line-height: 30px;
    font-style: normal;
    font-weight: 700;
}
.t-red {
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    color: #eb5757;
}
.t-purple, .t-purle-n {
    font-family: Product Sans;
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    color: #4E598C;
}
.t-purle {
    font-weight: bold;
}
.t-purle-n {
    font-weight: 400;
}
.t-white {
    font-family: Product Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}
.green {
    color: #6FCF97;
}
.t-orange {
    font-family: Product Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    text-decoration-line: underline;
    color: linear-gradient(180deg, #F2C94C 0%, #F2994A 100%);
}
.i-circle {
    text-shadow: 0px 6px 10px rgba(33, 30, 67, 0.08);
    color: #fff;
}
.btn-o {
    color: #fff;
    width: 238px;
    background: linear-gradient(180deg, #F2C94C 0%, #F2994A 100%);
    border-radius: 10px;
    font-family: Product Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #F7F7FF;
}
.finput {
    background: #FFFFFF;
    border: 1px solid #4E598C;
    box-sizing: border-box;
    border-radius: 10px;
}
.confirm-payment-box {
    background: #FFFFFF;
    box-shadow: 0px 10px 15px rgba(33, 30, 67, 0.08);
    border-radius: 10px;
}
.confirm-payment-header-blue-background {
    background: #2F80ED;
    border-radius: 16px 10px 0px 0px;
}
.confirm-payment-total-box {
    background: #FFFFFF;
    border: 1px solid #817E9E;
    box-sizing: border-box;
    border-radius: 5px;
}
.purchase-completed-box {
    background: #FFFFFF;
    box-shadow: 0px 6px 10px rgba(33, 30, 67, 0.08);
    border-radius: 10px;
}